<h2><%= @merchant.name %></h2>

<%= button_to "Create a New Discount", "/merchant/discounts/new" %>

<h2>Your Discounts:</h2>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <h3>Discount: <%= number_to_percentage(discount.discount, precision: 0) %>, on <%= discount.number_of_items %></h3>
  </section>
<% end %>
