<h2><%= @merchant.name %></h2>

<%= button_to "Create a New Discount", "/merchant/discounts/new", method: :get %>

<h2>Your Discounts:</h2>

<% @discounts.each do |discount| %>
  <section id="discount-<%= discount.id %>">
    <h3><%= link_to "Discount #{discount.id}", "/merchant/discounts/#{discount.id}" %>: <%= number_to_percentage(discount.discount, precision: 0) %>, on <%= discount.number_of_items %> items</h3>
    <%= button_to "Edit Discount", "/merchant/discounts/#{discount.id}/edit", method: :get %>
  </section>
<% end %>
